/* ==========================================
   TABLETS
========================================== */

@media (max-width:992px){

    .hero{

        padding:70px 0;

        text-align:center;

    }

    .hero h1{

        font-size:48px;

    }

    .hero-buttons{

        justify-content:center;

        flex-wrap:wrap;

    }

    .hero-image{

        margin-top:50px;

        height:420px;

    }

}

/* ==========================================
   MOBILE
========================================== */

@media (max-width:768px){

    .navbar{

        padding:15px;

    }

    .hero h1{

        font-size:36px;

    }

    .hero p{

        font-size:17px;

    }

    .hero-image{

        height:300px;

    }

    .btn{

        width:100%;

        margin-bottom:15px;

    }

    .hero-buttons{

        flex-direction:column;

    }

}

/* ==========================================
   SMALL MOBILE
========================================== */

@media (max-width:480px){

    .hero h1{

        font-size:30px;

    }

}
/*===========================
        Statistics
============================*/

@media(max-width:992px){

.stats-grid{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:576px){

.stats-grid{

grid-template-columns:1fr;

}

}
/*===========================
        FOOTER
===========================*/

@media(max-width:768px){

.footer{

text-align:center;

}

.social-icons{

justify-content:center;

}

}